.root {
  display: grid;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.root > * {
  grid-column: 4;
}
.roottype_travel > * {
  grid-column: 4;
}
.roottype_convention > * {
  grid-column: 4;
}
.roottype_consumable > * {
  grid-column: 4;
}
.rootconfirming > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .rootconfirming > * {
    grid-column: 4;
  }
}
.layoutBase:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.createStep:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.section {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  min-width: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.sectiontype_travel > * {
  grid-column: 4;
}
.sectiontype_convention > * {
  grid-column: 4;
}
.sectiontype_consumable > * {
  grid-column: 4;
}
.sectionconfirming > * {
  grid-column: 4;
}
.text__pZ4C9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 2.3em;
  text-align: center;
  margin-top: 0px;
  min-width: 0;
}
.freeBox__iwsBu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.defaultButton__jekSe:global(.__wab_instance) {
  max-width: 100%;
}
.svg__vDM9 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 9px;
  height: 20px;
}
.svg__djlyg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__oCm85 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0px;
}
.form:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  flex-shrink: 1;
}
.freeBox__afwq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__afwq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.freeBox__afwq > :global(.__wab_flex-container) > *,
.freeBox__afwq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__afwq > :global(.__wab_flex-container) > picture > img,
.freeBox__afwq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.freeBoxconfirming__afwqRyCqN {
  opacity: 0.5;
  filter: blur(2px);
  pointer-events: none;
}
.freeBoxtype_travel_confirming__afwqQzfClRyCqN {
  pointer-events: none;
  cursor: not-allowed;
}
.formField___9Zyuv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.titleInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.formField__kWnH:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  margin-bottom: 24px;
  min-width: 0;
}
.text__tvLa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dateInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__v5UOm {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__v5UOm > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-oYI7ebdZitcv));
  width: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox__v5UOm > :global(.__wab_flex-container) > *,
.freeBox__v5UOm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__v5UOm > :global(.__wab_flex-container) > picture > img,
.freeBox__v5UOm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oYI7ebdZitcv);
}
.freeBoxtype_travel_confirming__v5UOmQzfClRyCqN {
  pointer-events: none;
}
.formField__foEhP:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.nameInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__dDoS {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField__qvlta:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.text__xDf7M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.numInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__m7JA {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 24px;
  min-width: 0;
  padding: 0px;
}
.freeBox__m7JA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-oYI7ebdZitcv));
  width: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox__m7JA > :global(.__wab_flex-container) > *,
.freeBox__m7JA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m7JA > :global(.__wab_flex-container) > picture > img,
.freeBox__m7JA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oYI7ebdZitcv);
}
.freeBoxtype_travel_confirming__m7JAQzfClRyCqN {
  pointer-events: none;
}
.formField__nr9Xg:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  flex-shrink: 1;
  min-width: 0;
}
.text__ydw3N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.amountInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__cus2F {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.formField___640Oq:global(.__wab_instance) {
  width: auto;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}
.taxInput:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__lcE5X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  min-width: 0;
}
.formField__sJbIp:global(.__wab_instance) {
  width: 100%;
  font-size: 0.8em;
  min-width: 0;
}
.freeBox__nvf9A {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__nvf9A > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-PGEhrONtRynf));
  width: calc(100% + var(--token-PGEhrONtRynf));
}
.freeBox__nvf9A > :global(.__wab_flex-container) > *,
.freeBox__nvf9A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvf9A > :global(.__wab_flex-container) > picture > img,
.freeBox__nvf9A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-PGEhrONtRynf);
}
.descriptionInput:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.freeBox__uQw2H {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.copilot:global(.__wab_instance) {
  position: relative;
}
.formField___0RQro:global(.__wab_instance) {
  width: 100%;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
  min-width: 0;
}
.text__ez1Ry {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.attachments:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  font-size: 16px;
}
.freeBox__r2Z8W {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__fWwg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__bCvvZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text___6UZoA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.defaultButton__aJb5O:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-right: 0px;
  width: 100%;
  min-width: 0;
}
.svg__f2Jw3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__y1KlN {
  padding-left: 0px;
}
.svg__kTj2I {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox___73ZCq {
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token--BMEyZEX6vxW);
  position: relative;
  min-width: 0;
  display: none;
  border-radius: 16px;
  padding: var(--token-9EfSOc8y7ano);
}
.freeBox___73ZCq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - var(--token-PGEhrONtRynf));
  height: calc(100% + var(--token-PGEhrONtRynf));
}
.freeBox___73ZCq > :global(.__wab_flex-container) > *,
.freeBox___73ZCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___73ZCq > :global(.__wab_flex-container) > picture > img,
.freeBox___73ZCq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-PGEhrONtRynf);
}
.freeBoxtype_convention___73ZCqUmVmc {
  display: none;
}
.freeBoxtype_consumable___73ZCq9EEix {
  display: none;
}
.freeBoxconfirming___73ZCqryCqN {
  display: flex;
}
.text__ehNHd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  text-align: center;
  font-size: 1.5em;
  min-width: 0;
}
.kvItem__tqvPl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__rxOin {
  height: auto;
}
.kvItem__wWAzg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__cOtAn {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__cOtAn > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cOtAn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cOtAn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - var(--token-cSJ2BJk-9JCq));
    height: calc(100% + var(--token-cSJ2BJk-9JCq));
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cOtAn > :global(.__wab_flex-container) > *,
  .freeBox__cOtAn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cOtAn > :global(.__wab_flex-container) > picture > img,
  .freeBox__cOtAn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: var(--token-cSJ2BJk-9JCq);
  }
}
.kvItem__s5Tm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__t0JI {
  width: auto;
}
.kvItem___5WDVd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zpx4S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zpx4S {
    display: flex;
    flex-direction: column;
  }
}
.kvItem__pVzU3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__sJv5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sJv5Y > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-cSJ2BJk-9JCq));
  width: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.freeBox__sJv5Y > :global(.__wab_flex-container) > *,
.freeBox__sJv5Y > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sJv5Y > :global(.__wab_flex-container) > picture > img,
.freeBox__sJv5Y
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cSJ2BJk-9JCq);
}
.text__gkvyj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 2px;
}
.kvItem__t5JiM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___7VWNa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___7VWNa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-cSJ2BJk-9JCq));
  width: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.freeBox___7VWNa > :global(.__wab_flex-container) > *,
.freeBox___7VWNa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7VWNa > :global(.__wab_flex-container) > picture > img,
.freeBox___7VWNa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cSJ2BJk-9JCq);
}
.text__ud9CW {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.kvItem__pZckQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__iuUa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__iuUa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-cSJ2BJk-9JCq));
  width: calc(100% + var(--token-cSJ2BJk-9JCq));
}
.freeBox__iuUa > :global(.__wab_flex-container) > *,
.freeBox__iuUa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iuUa > :global(.__wab_flex-container) > picture > img,
.freeBox__iuUa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-cSJ2BJk-9JCq);
}
.text___5VodB {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
}
.freeBox__oosZ3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.text__pkBJu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__risKx {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__risKx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - var(--token-oYI7ebdZitcv));
  width: calc(100% + var(--token-oYI7ebdZitcv));
}
.freeBox__risKx > :global(.__wab_flex-container) > *,
.freeBox__risKx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__risKx > :global(.__wab_flex-container) > picture > img,
.freeBox__risKx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-oYI7ebdZitcv);
}
.defaultButton__onvA:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__q1Tjx {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__xfPj5 {
  padding-left: 0px;
}
.svg__zZgUp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.defaultButton__jh0O:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.svg__lb06W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__wtEve {
  padding-left: 0px;
}
.svg__vzDEy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
